.primaryProducts {
    padding: 10px 10px 10px 10px;
    text-align: left;
    font-weight: bold;
    font-size: 20px
}

#menu {
    margin-left: 100px;
}

.productlist {
    padding-top: 90px;
    padding-left: 200px;
}

.primaryImage {
    padding-top: 100px;
}

.collectionCategory {
    padding: 20px;
}

.heading {
    color: darkorange;
    font-size: 13pt;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: #007791;

}

a:visited {
    text-decoration: none;
    color: #007791;
}

a:hover {
    text-decoration: underline;
    color: darkorange;
}

a:active {
    text-decoration: underline;
    color: darkorange;
}

.div_inline {
    display: inline-block;
}

.menuBar {
    margin-top: 10px;
    font-size: 12px;
    padding-bottom: 20px;

}

.searchBar {
    color: #000000;
    margin-left: 130px;
    font-size: 15px;

}

.logo {
    font-size: 45px;
    font-style: oblique;
    font-variant: small-caps;
    font-family: monospace;
    font-stretch: ultra-expanded;
    text-align: left;
}

.loginBar {
    margin-right: 20px;
    font-size: 15px;
}

.button {
    color: #000;
    font-family: "Times New Roman";
    font-size: 20px;
}

.text {
    border: 2px;
    border-radius: 10px;
    font-size: 19px;
    width: 950px;
    background-color: wheat;
    border-bottom-color: #000000;

}

.hyperlink {
    text-decoration: none;
    color: black;
    padding: -10px;
}

.header {
    box-shadow: 5px 5px 5px #888888;
}

#listHeader {
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bolder;
    font-family: monospace;
    color: orange;
}

.hbar {
    margin-top: 5px;
    margin-bottom: 5px;
}

.plist {
    border-color: #808080;
}



