.menuBar {
    margin-top: 10px;
    font-size: 12px;
    padding-bottom: 20px;

}

.searchBar {
    color: #000000;
    font-size: 15px;
    margin-left: 130px;
}

.logo {
    font-size: 45px;
    font-style: oblique;
    font-variant: small-caps;
    font-family: monospace;
    font-stretch: ultra-expanded;
    text-align: left;
}

.loginBar {
    margin-right: 20px;
    font-size: 15px;
}

.button {
    color: #000;
    font-family: "Times New Roman";
    font-size: 20px;
}

.text {
    border: 2px;
    border-radius: 10px;
    font-size: 19px;
    width: 950px;
    background-color: wheat;
    border-bottom-color: #000000;

}

.hyperlink {
    text-decoration: none;
    color: black;
    padding: -10px;
}

.header {
    box-shadow: 10px 10px 5px #888888;
}

.heading {
    color: darkorange;
    font-size: 13pt;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: #007791;
}

a:visited {
    text-decoration: none;
    color: #007791;
}

a:hover {
    text-decoration: underline;
    color: darkorange;
}

a:active {
    text-decoration: underline;
    color: darkorange;
}

.horizonalBorder {
    margin-top: 0;
    margin-bottom: 0;
    width: 1390px;
    color: red;
}

.labelStyle {
    padding-right: 30px;
    margin-bottom: 5px;
    margin: 0px;
    font-size: 15px;

}
